header.header {
  background: var(--blue);
  padding-top: 2rem;

  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .switcher {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 20px;
    }
  }
}

header.header-dark {
  background: #112169;
  padding-top: 2rem;

  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .switcher {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 20px;
    }
  }
}
